/*
Error: Invalid CP949 character "\xF0"
        on line 3 of ../../node_modules/open-color/open-color.scss
        from line 1 of utils.scss
        from line 1 of layout/grid.scss
        from line 3 of index.scss

1: //
2: //
3: //  𝗖 𝗢 𝗟 𝗢 𝗥
4: //  v 1.7.0
5: //
6: //  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
7:
8:

aside {
  text-align: center;
}
aside h1 {
  margin-top: 8rem;
  margin-bottom: 2rem;
}
aside p {
  line-height: 1.5rem;
}

@keyframes right-waterfall {
  0% {
    opacity: 0;
    right: 50px;
  }
  50% {
    opacity: 1;
    right: 30px;
  }
  100% {
    opacity: 0;
    right: 0;
  }
}
@keyframes left-waterfall {
  0% {
    opacity: 0;
    left: 50px;
  }
  50% {
    opacity: 1;
    left: 30px;
  }
  100% {
    opacity: 0;
    left: 0;
  }
}
.header-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1;
  /* Modal Content */
  /* The Close Button */
}
.header-wrap .header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0rem;
  text-align: right;
}
.header-wrap .header a {
  padding: 0.5rem;
}
.header-wrap .modal-content {
  position: absolute;
  left: 37.5%;
  top: 0;
  /* opacity: 0; */
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  padding: 3rem;
  width: 20%;
}
.header-wrap .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.header-wrap .close:hover,
.header-wrap .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.header-wrap .form-header {
  text-align: center;
  padding-bottom: 2rem;
}
.header-wrap .input-group {
  text-align: center;
  padding: 1rem;
}
.header-wrap .input-group input {
  border: 0;
  border-bottom: 1px solid #ffe8cc;
  width: 100%;
}
.header-wrap .input-group:nth-child(0) {
  padding-top: 2rem;
}
.header-wrap .form-footer {
  text-align: center;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
}

aside .next-btn {
  position: absolute;
  font-family: FontAwesome;
  text-align: center;
  transform: rotate(270deg);
  right: 0;
  top: 50%;
  z-index: 2;
  font-size: 2.8rem;
  color: gray;
  animation: right-waterfall 1.5s infinite ease-in-out;
}
aside .next-btn:hover {
  color: black;
  transition: 1s;
}
aside .next-btn:before {
  content: "";
}
aside .prev-btn {
  position: absolute;
  font-family: FontAwesome;
  text-align: center;
  transform: rotate(90deg);
  left: 0;
  top: 50%;
  z-index: 2;
  font-size: 2.8rem;
  color: gray;
  animation: left-waterfall 1.5s infinite ease-in-out;
}
aside .prev-btn:hover {
  color: green;
  transition: 1s;
}
aside .prev-btn:before {
  content: "";
}

.form-btn {
  border: 0;
  display: block;
  border-radius: 4px;
  padding: 12px 20px;
  width: 100%;
  background: #ffc078;
  box-shadow: 5px 5px 5px 5px #ffe8cc;
}

.login-btn {
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
}

.kko-btn {
  wdth: 50%;
  margin: 0 auto;
  background: #FFDE00 !important;
  color: #3C1E1E;
  font-weight: bold;
  margin-top: 1rem;
}

.cardContainer img {
  width: 100px;
  padding-top: 2rem;
}

.GameContainer {
  margin: 0 auto;
  width: 50%;
  height: 450px;
  margin-top: 5rem;
  background: red;
}

th {
  font-size: 24px;
}

.choose {
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 30px;
}

input {
  border: 1px solid black;
  height: 40px;
  width: 100px;
}

#wins, #losses, #ties {
  font-size: 24px;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
}

.title {
  margin-top: 50px;
  text-align: center;
}

.box-roulette {
  position: relative;
  margin: 50px auto;
  width: 500px;
  height: 500px;
  border: 10px solid #ccc;
  border-radius: 50%;
  background: #ccc;
  overflow: hidden;
}

.box-roulette .markers {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -25px;
  width: 0;
  height: 0;
  border: 25px solid #fff;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  z-index: 9999;
}

.box-roulette .roulette {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-roulette .item {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  transform-origin: 0 100%;
}

.box-roulette .label {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  white-space: nowrap;
  transform-origin: 0 0;
}

.box-roulette .label .text {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  vertical-align: middle;
}

#btn-start {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  font-weight: bold;
  background: #fff;
  border-radius: 50px;
  z-index: 9999;
  cursor: pointer;
}

.panel-score {
  font-size: 30px;
  margin: 25px;
}

.wrap {
  width: 100%;
}

.korea-shots {
  display: inline-block;
  width: 45%;
  text-align: center;
  background: white;
}

.japen-shots {
  display: inline-block;
  width: 45%;
  text-align: center;
  background: white;
}

.score-board {
  width: 500px;
  height: 400px;
  margin: 0 auto;
}

.korea-score {
  width: 45%;
  float: left;
  margin-top: 20%;
  text-align: center;
  font-size: 18px;
}

.japen-score {
  width: 45%;
  float: right;
  margin-top: 20%;
  text-align: center;
  font-size: 18px;
}

#score-text {
  height: 30px;
  background-color: #fcfcfc;
  text-align: center;
  margin-top: 60%;
  border-radius: 10px;
  border: 2px solid steelblue;
}

.control-panel {
  width: 500px;
  margin: 0 auto;
  height: 200px;
}

.div-korea {
  width: 50%;
  float: left;
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
}

.div-japen {
  width: 50%;
  float: left;
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
}

button {
  padding: 20px 40px;
  border-radius: 10px;
  background-color: #fcfcfc;
  border: 1px solid #dddddd;
}

button:hover {
  border: 1px solid steelblue;
  color: steelblue;
  transition: 0.8s;
}

button:enabled {
  color: steelblue;
  font-weight: bold;
}

@keyframes right-waterfall {
  0% {
    opacity: 0;
    right: 50px;
  }
  50% {
    opacity: 1;
    right: 30px;
  }
  100% {
    opacity: 0;
    right: 0;
  }
}
@keyframes left-waterfall {
  0% {
    opacity: 0;
    left: 50px;
  }
  50% {
    opacity: 1;
    left: 30px;
  }
  100% {
    opacity: 0;
    left: 0;
  }
}

/*# sourceMappingURL=index.css.map */
