  <div class="header-wrap">
    <div class="header">
    <div class="profile">
      <% if(user && user.id) { %>
      <div class="user-name">
        안녕하세요! <%= user.nick %> 님!
      </div>
    <a href="/auth/logout" id="logout">로그아웃</a>              
    </div>
    <% } else {%>
   
  

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div id="modal-content" class="modal-content">
    <!-- <span class="close">×</span> -->
    <form id="login-form" action="/auth/login" method='post'>
      <div class="input-group">
        <label for="email">이메z일</label>
        <input type="email" name="email" required autofocus>
      </div>
      <div class="input-group">
        <label for="password">비밀번호</label>
        <input type="password" name="password" value="" required>
      </div>
      <% if (loginError) %>
      <div class="error-message">
        <%= loginError %>
      </div>

      <a href="/join">회원가입</a>
      <button type="submit">로그인</button>
    </form>
    <% } %>
  </div>

</div>

</div>
</div>