<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="./scripts/script.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
<link rel="stylesheet" type="text/css" href="./stylesheet/index.css">
<link rel="stylesheet" type="text/css" href="./stylesheet/header.css">

<body>
  <div class="header">
    <div>
    <div class="profile">
      <% if(user && user.id) { %>
      <div class="user-name">
        안녕하세요! <%= user.nick %> 님!
      </div>
    <a href="/auth/logout" id="logout">로그아웃</a>              
    </div>
    <% } else {%>
   
  </div>
</div>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div id="modal-content" class="modal-content">
    <!-- <span class="close">×</span> -->
    <form id="login-form" action="/auth/login" method='post'>
      <div class="input-group">
        <label for="email">이메z일</label>
        <input type="email" name="email" required autofocus>
      </div>
      <div class="input-group">
        <label for="password">비밀번호</label>
        <input type="password" name="password" value="" required>
      </div>
      <% if (loginError) %>
      <div class="error-message">
        <%= loginError %>
      </div>

      <a href="/join">회원가입</a>
      <button type="submit">로그인</button>
    </form>
    <% } %>
  </div>

</div>

</body>

</html>