<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="./scripts/script.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
<link rel="stylesheet" type="text/css" href="./stylesheet/index.css">

<body>
  <div class="wrapper">
    <article>
        <% include header %>
      <section class="si-z" style="display: none;">
        <div class="contentWrap">
          <h1>오늘뭐 <span>먹지?</span><span>!</span></h2>
            <img src="img/food.png" alt="순두부지개/">            
        </div>
        <aside>
          <a href="#"><span class="next-btn btn"></span></a>
        </aside>
        <div class="info">
          <span>본 웹사이트는 크롬브라우저 및 데스크톱 환경에 최적화 되어있습니다.</span>
        </div>
      </section>
      <div class="Visual_1 si-z" style="position: initial;">
        <div class="intro">
          <h2>게임을 통해 점심을 정해보세요 !</h2>
          <p>총 3가지의 게임이 있습니다.</p>
        </div>
        <div class="contentMenu">
          <div class="card">
            <div class="cardContainer">
              <div class="red">RED</div>
              <div class="blue"><a href="#" class="top-btn btn">가위바위보</a></div>
            </div>
            <div class="cardContainer">
              <div class="yellow">YELLOW</div>
              <div class="blue"><a href="#" class="bot-btn btn">돌려돌려돌림판</a></div>
            </div>
            <div class="cardContainer">
              <div class="skyblue">SKYBLUE</div>
              <div class="blue"><a href="#" class="next-btn btn">바로가기</a></div>
            </div>
          </div>
        </div>
        <aside>
          <a href="#"><span class="prev-btn btn"></span></a>
        </aside>
      </div>
      <div class="Visual_2 si-z">
        <h1>그냥메뉴주세요</h1>
        <aside>
          <a href="#"><span class="prev-btn btn"></span></a>
        </aside>
      </div>
      <div class="Visual_3 si-z">
        <aside>
        <a href="#"><span class="prev-top btn prev-btn"></span></a>
        <h1>가위바위보게임</h1>
      </aside>
      </div>
      <div class="Visual_4 si-z">
      <aside>
        <a href="#"><span class="prev-bot btn prev-btn"></span></a>
        <h1>돌려돌려돌림판</h1>
      </aside>
      </div>
    </article>
  </div>
</body>

</html>