<script src="https://cdn.sobekrepository.org/includes/jquery-rotate/2.2/jquery-rotate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<div class="box-roulette">
	<div class="markers"></div>
	<button type="button" id="btn-start">
		돌려 돌려<br>돌림판
	</button>
	<div class="roulette" id="roulette"></div>
</div>


