@import '../base/utils.scss';


.header-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1;

  // background: $oc-gray-0;
  // box-shadow: 10px 10px 5px 0px rgb(239, 237, 234);

  .header {
    width: 100%;
    max-width: 1200px;
    margin:0 auto;    
    padding: 3rem 0rem;
    text-align: right;
    
  }

  /* Modal Content */
  .modal-content {
    position: absolute;
    left: 37.5%;
    top: 0;
    /* opacity: 0; */
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    padding: 3rem;
    // width: 50%;
    width: 20%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .form-header {
    text-align: center;
    padding-bottom: 2rem;
  }

  .input-group {
    text-align: center;
    padding: 1rem;

    input {
      border: 0;
      border-bottom: 1px solid $oc-orange-1;
      width: 100%;
    }

    &:nth-child(0) {
      padding-top: 2rem;
    }
  }

  .form-footer {
    text-align: center;

    button {
      cursor: pointer;
    }
  }
.user-name {
  display: flex;
  justify-content: space-between;
}
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
}