aside{

  .next-btn{
    position: absolute;
    font-family: FontAwesome;
    text-align: center;
    transform: rotate(270deg);
    right: 0;
    top:50%;
    z-index: 2;
    font-size: 2.8rem;
    color: gray;

  animation: right-waterfall 1.5s infinite ease-in-out;
    &:hover{
      color: black;
      transition: 1s;
    }
  }
  .next-btn:before{
  content: "\f103";
}

  .prev-btn{
    position: absolute;
    font-family: FontAwesome;
    text-align: center;
    transform: rotate(90deg);
    left: 0;
    top:50%;
    z-index: 2;
    font-size: 2.8rem;
    color: gray;
    animation: left-waterfall 1.5s infinite ease-in-out;

    &:hover{
      color: green;
      transition: 1s;
    }
  }
  .prev-btn:before{
  content: "\f103";
  }
}
