.cardContainer {
  img {
    width: 100px;
    padding-top: 2rem;
    padding-bottom: 6rem;
  }
  p {
    width: 80%;
    margin: auto;
    line-height: 2rem;
  }
}

.GameContainer {
  margin: 0 auto;
  position: relative;
  width: 50%;
  height: 450px;
  margin-top: 3rem;
  // background: $oc-gray-2;
}