.form-btn {
  border: 0;
  display: block;
  border-radius: 4px;
  padding: 12px 20px;
  width: 100%;
  background: $oc-orange-3;
  box-shadow: 5px 5px 5px 5px $oc-orange-1;
}

.login-btn {
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
}
.join-btn {

}

.kko-btn {
  wdth: 50%;
    margin:0 auto;
    background: #FFDE00 !important;
    color: #3C1E1E;
    font-weight: bold;
    margin-top: 1rem;
}